<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    @*<link rel="stylesheet" asp-href-include="/css/*.css" />*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <title>@ViewData["Title"] - P2FixAnAppDotNetCode</title>
</head>
<body>
    <div class="navbar navbar-inverse bg-primary" role="navigation">
        <div class="row">
            <a class="col navbar-brand" asp-action="Index" asp-controller="Product" style="padding-left:12%">
                OpenClassrooms shop
            </a>
            <div class="col-4 text-right" style="padding-right:12%">
                @await Component.InvokeAsync("CartSummary")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-8"><p style="padding-top:17px">&copy; 2018 - P2FixAnAppDotNetCode</p></div>
                <div class="col-4">
                    @await Component.InvokeAsync("LanguageSelector")
                </div>
            </div>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
